.react-datepicker-wrapper{
    max-width: 240px;
    width: 100%;
}
.react-datepicker__input-container{
    position: relative;
}
.react-datepicker__input-container::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 14px;
    background-image: url('../../images/Calendar.png');
    width: 21px;
    height: 27px;
    background-size: cover;
    z-index: 9;
    transform: translateY(-50%);
}
.react-datepicker__input-container::after{
    position: absolute;
    content: "";
    background-image: url('../../images/select-arrow.png');
    z-index: 9;
    width: 7px;
    height: 11px;
    top: 50%;
    right: 16px;
    background-size: cover;
    transform: translateY(-50%);
}
.react-datepicker__input-container input{
    padding-left: 48px;
}
