
@font-face {
    font-family: "PoppinsRegular";
    src: local("PoppinsRegular"),
    url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "PoppinsBold";
    src: local("PoppinsBold"),
    url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "PoppinsExtraBold";
    src: local("PoppinsExtraBold"),
    url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 900;
}
